# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List popular languages for data scientists
- List popular libraries used by data scientists
- List popular data science tools
- Demonstrate use of comments within code
- Demonstrate arithmetic operations

Some of the popular languages that Data Scientists use are:
1. Julia
2. Python
3. R
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy
4. Matplotlib

|Data Science Tools|
|-|
|RStudio|
|JupyterLab|
|GitHub|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours
200/60

3.3333333333333335

## Author
Jessica Royal